openapi: 3.0.0
info:
  title: Ejemplo de API
  version: 1.0.0
  description:
    $ref: "../docs/WELCOME.md"
servers:
  - url: https://api.ejemplo.com/v1
paths:
  /usuarios:
    get:
      summary: Obtiene una lista de usuarios
      operationId: obtenerUsuarios
      x-redoc-markdown: "../docs/GET_USERS.md"
      responses:
        '200':
          description: Lista de usuarios obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Identificador único del usuario
                    nombre:
                      type: string
                      description: Nombre del usuario
                    edad:
                      type: integer
                      description: Edad del usuario
    post:
      summary: Crea un nuevo usuario
      operationId: crearUsuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
                  description: Nombre del nuevo usuario
                edad:
                  type: integer
                  description: Edad del nuevo usuario
      responses:
        '201':
          description: Usuario creado con éxito
  /usuarios/{id}:
    get:
      summary: Obtiene los detalles de un usuario específico
      operationId: obtenerUsuarioPorId
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único del usuario a obtener
          schema:
            type: integer
      responses:
        '200':
          description: Detalles del usuario obtenidos con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Identificador único del usuario
                  nombre:
                    type: string
                    description: Nombre del usuario
                  edad:
                    type: integer
                    description: Edad del usuario
    put:
      summary: Actualiza los detalles de un usuario específico
      operationId: actualizarUsuarioPorId
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único del usuario a actualizar
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
                  description: Nuevo nombre del usuario
                edad:
                  type: integer
                  description: Nueva edad del usuario
      responses:
        '200':
          description: Detalles del usuario actualizados con éxito
    delete:
      summary: Elimina un usuario específico
      operationId: eliminarUsuarioPorId
      parameters:
        - name: id
          in: path
          required: true
          description: Identificador único del usuario a eliminar
          schema:
            type: integer
      responses:
        '204':
          description: Usuario eliminado con éxito
